// Define variables for your color scheme

// For example:
$red: #FD1015;

$yellow: #FFC65A;
$orange: #E67E22;

$gray: #525252;
$light-gray: #f2f4f5;

$blue: #24A692;
$light-blue: #B7EFE7;
$bg-blue: #f7faf5;
$green: #54ac26;
$dark-green: #2F5F16;
$light-green: #A4E382;
$brown: #A6A124;
$grey: #a7a7a7;