// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;

$gray: #0E0000;
$light-gray: #f2f4f5;

$light-blue: #f5faf2;
$camel: #BA8E56;
$pistachio: #8fb955;
$green: #54ac26;
$dark-green: #2F5F16;
$light-green: #A4E382;