<h1>Grocery List</h1>

<h2>Staples</h2>

<h3>Almost empty staples</h3>
<ul>
  <% @ms_almost_empty.each do |my_staple| %>
    <li><%= my_staple.staple.name %></li>
  <% end %>
</ul>

<h3>Empty staples</h3>
<ul>
  <% @ms_empty.each do |my_staple| %>
    <li><%= my_staple.staple.name %></li>
  <% end %>
</ul>

<h2>Non-Staples</h2>

<p><%= link_to "MY STAPLES", grocery_list_my_staples_path(@grocery_list) %></p>