<h1>My Staples</h1>

<% @my_staples.group_by { |m_s| m_s.staple.category }.each do |category_arr| %>
  <h2><%= category_arr[0].name %></h2>
    <% category_arr[1].each do |my_staple| %>
      <p><%= my_staple.staple.name %>
      <%= my_staple.quantity.value %></p>
    <% end %>
<% end %>

<h2>Add a staple to your list</h2>

<%= link_to "Add a new staple to the library", new_staple_path %>