<h1>My Staples</h1>

<% @my_staples.each do |my_staple| %>
  <p><%= my_staple.staple.name %>
  <%= my_staple.quantity.value %></p>
<% end %>

<h2>Add a staple to your list</h2>

<%= link_to "Add a new staple to the library", new_staple_path %>