.main-button {
  height: 55px;
  width: 180px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px  rgb(126, 125, 125) solid;

  color: $body-bg;
  font-family: $buttons-font;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgb(126, 125, 125);

  &:hover {
    text-decoration: none;
    color: $body-bg;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.small-button {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px  rgb(126, 125, 125) solid;
  margin: 20px auto;

  color: $body-bg;
  font-family: $buttons-font;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgb(126, 125, 125);

  &:hover {
    text-decoration: none;
    color: $body-bg;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.green-btn {
  background-color: $green;
}

.blue-btn {
  background-color: $blue;
}

.brown-btn {
  background-color: $brown;
}

.purple-btn {
  background-color: $purple;
}

.triangle-icon {
  i {
    font-size: 30px;
    color: $body-color;
  }
}

.delete-cross-btn-blue {
  i {
    color: $dark-blue;
  }
}

.button-update-check {
  border: none;
  padding: 0;
  background-color: $body-bg;
}

.button-update-cross {
  border: none;
  padding: 0;
  color: $dark-green;
  background-color: white;
}

.delete-cross-btn-green {
  i {
    color: $dark-green;
  }
}

.button-add-plus {
  border: none;
  background-color: $body-bg;
  font-size: 28px;
  padding: 0;
}

.b-a-p-green {
  color: $green;
}

.b-a-p-blue {
  color: $blue;
}

.b-a-p-purple {
  color: $purple;
}
