.main-button {
  height: 55px;
  width: 180px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px  rgb(126, 125, 125) solid;

  color: $body-bg;
  font-family: $buttons-font;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgb(126, 125, 125);

  &:hover {
    text-decoration: none;
    color: $body-bg;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.small-button {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px  rgb(126, 125, 125) solid;
  margin: 20px auto;

  color: $body-bg;
  font-family: $buttons-font;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgb(126, 125, 125);

  &:hover {
    text-decoration: none;
    color: $body-bg;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.green-btn {
  background-color: $green;
}

.blue-btn {
  background-color: $blue;
}

.brown-btn {
  background-color: $brown;
}

.button-update-cross {
  border: none;
  padding: 0;
  color: $dark-green;
  background-color: white;
  margin-right: 20px;
}

.delete-cross-btn {
  margin-right: 20px;
  i {
    color: $dark-green;
  }
}

.button-add-plus {
  border: none;
  background-color: $body-bg;
  color: $green;
  font-size: 28px;
  padding: 0;
}
