.page-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  i {
    color: $light-blue;
    margin-right: 20px;
  }
}

.page-title-ms {
  background-color: $blue;
}

.page-title-gl {
  background-color: $green;
}

h1 {
  font-size: 18px;
  font-weight: 500;
  color: $light-blue;
  margin: 0;
}

h2 {
  font-size: 18px;
  padding: 10px 0 5px 10px;
  margin: 0;
}

h3 {
  font-size: 16px;
  padding: 10px 0 5px 10px;
  margin: 0;
}