.page-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  i {
    color: $body-bg;
    margin-right: 20px;
  }
}

.page-title-ms {
  background-color: $blue;
}

.page-title-gl {
  background-color: $green;
}

.page-title-ns {
  background-color: $purple;
  h1 {
    font-size: 16px;
  }
}

h1 {
  font-size: 18px;
  font-weight: 500;
  color: $body-bg;
  margin: 0;
}

h2 {
  font-size: 18px;
  padding: 8px 0 8px 10px;
  margin: 0;
}

.h2-gl {
  background-color: $light-green;
  border-bottom: 1px $light-gray solid ;
}

.h2-ms {
  background-color: $light-blue;
  border-bottom: 1px $light-gray solid ;
}

h3 {
  font-size: 16px;
  padding: 10px 0 5px 10px;
  margin: 0;
}