.full-item {
  color: $green;
}

.almost-empty-item {
  color: $orange;
}

.empty-item {
  color: $red;
}

.groc-list-item {
  display: flex;
  align-items: center;
  p {
    margin : 0;
  }
}

input:checked + p {
  text-decoration: line-through;
}

.button-submit {
  border: none;
  background-color: $body-bg;
}