.full-item {
  color: $green;
}

.almost-empty-item {
  color: $orange;
}

.empty-item {
  color: $red;
}

.my-staples-list {
  margin: 10px 0;
}

.my-staples-list-item {
  display: flex;

  p {
    margin: 0px;
    font-size: 18px;
  }
}

.groc-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 10px;
  border-bottom: 2px $light-gray solid;
  height: 40px;
  background-color: white;
}

.groc-list-item-left {
  display: flex;
  p {
    font-family: $lists-font;
    margin: 3px 0 0 15px;
  }
}

input:checked + p {
  text-decoration: line-through;
}
