.full-item {
  color: $green;
}

.almost-empty-item {
  color: $orange;
}

.empty-item {
  color: $red;
}

.groc-list-item {
  display: flex;
  align-items: center;
  margin: 5px;
  p {
    font-family: $lists-font;
    margin: 0 8px;
  }
}

input:checked + p {
  text-decoration: line-through;
}

.button-submit {
  border: none;
  background-color: $body-bg;
}