.around-logo {
  height: 80px;
  padding-top: 20px;
}

.around-btn {
  display: flex;
  flex-direction: column;
  height: 430px;
  justify-content: space-around;
  align-items: center;
}

.list-around {
  border-top: 3px $light-gray solid;
  border-bottom: 3px $light-gray solid;
}

.around-add-form {
  padding: 0 20px 10px 10px;
  border-bottom: 2px $grey solid;
}
