
.bg-image-hp {
  width: 100%;
  background-image:  linear-gradient( rgba(231, 231, 231, 0.7), rgba(202, 199, 199, 0.5)), url('https://images.unsplash.com/photo-1558013637-a125529cc856?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
  background-size: cover;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.around-btn {
  display: flex;
  flex-direction: column;
  height: 430px;
  justify-content: space-around;
  align-items: center;
}

@media(min-width: 320px) {
  .wrapper {
    width: 310px;
  }

  .bg-image-hp {
    width: 320px;
  }

  body {
    width: 320px;
    margin: 0 auto;
  }
}
